################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Pattern/FileContentIndex/04c65593-11bb-40ec-bcc7-65d65417cf1e.vsidx
*.vsidx
/.vs/Pattern/v18/.suo
/src/AbstractFactory/obj/Debug/net10.0/AbstractFactory.AssemblyInfo.cs
/src/AbstractFactory/obj/Debug/net10.0/AbstractFactory.AssemblyInfoInputs.cache
/src/Builder/obj/Debug/net10.0/Builder.AssemblyInfo.cs
/src/Builder/obj/Debug/net10.0/Builder.AssemblyInfoInputs.cache
/src/FabricMethod/obj/Debug/net10.0/FabricMethod.AssemblyInfo.cs
/src/FabricMethod/obj/Debug/net10.0/FabricMethod.AssemblyInfoInputs.cache
/src/Prototype/obj/Debug/net10.0/Prototype.AssemblyInfo.cs
/src/Prototype/obj/Debug/net10.0/Prototype.AssemblyInfoInputs.cache
/src/Singleton/obj/Debug/net10.0/Singleton.AssemblyInfo.cs
/src/Singleton/obj/Debug/net10.0/Singleton.AssemblyInfoInputs.cache
